
#logo{
	height: 40px;
	margin-top: -10px;
}
#title{
	    color: black ;
	    font-family: aerial ;
	    font-size: 100px ;
	    text-align: center;

}
.container {
	background-image: url(../images/magazines.jpg);
	border-style: solid;
	border-width: 5px;
	border-radius: 5px;
	border-color: black ;
}
.row{
	margin-top: 75px ;
	margin-left:100px ;
}
#cat1{
	font-size: 30px ;
}

#HI{
	font-size: 100px;
	color: crimson;
	text-align: center;
	 }
#text{
	font-size: 40px;
	background-color: white; 
	color: mediumaquamarine;
}
#cat2{
	font-size: 30px ;
}

#vogue{
	width: 300px ;
	height: 350px ;
	text-align: center;
}

.agazinecategories {

	text-align: center;
}

.my-link {
	background-color: white;
}
.links {
	background-color: white;
}
